
.titulo_centro{
    animation: teclear 3s steps(16), efecto .5s step-end infinite alternate;
}

@keyframes teclear {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0. 100% 100%, 0% 100%);
    }
}

@keyframes efecto {
    50% {
        border-color: transparent;
    }
}

aside{
    width: 100%;
    height: auto;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
    position: static;
    
}

.spiderman{
    width: 100%;
    margin: 0;
    position: sticky;
    top: 130px;
    

    animation: spiderman 3s infinite;
}

@keyframes spiderman {
    0%{
        transform: translateY(-50px);
    }
    30%{
        transform: translateY(0) rotate(-5deg);
    }
    50%{
        transform: translateY(-5deg);
    }
    75%{
        transform: translateY(-5deg);
    }
    100%{
        transform: translateY(-150px);
    }
}