.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    right: 40%;
    overflow: hidden;
    box-shadow: -5px -5px - 5px
    rgba(255, 255, 255, 0.1) 10px 10px 10px rgba(255, 255, 255, 0.2),
    inset -5px -5px -5px rgba(255, 255, 255, 0.2), inset 10px 10px 10px rgba(0, 0, 0, 0.4);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.loading::before{
    position: absolute;
    content: '';
    z-index: 10;
    opacity: 10;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    background-color: #050574;
    border-radius: 50%;
    box-shadow: -5px -5px -5px rgba(255, 255, 255, 0.1) 10px 10px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px -5px rgba(255, 255, 255, 0.2), inset 10px 10px 10px rgba(0, 0, 0, 0.4);
}
.loading span {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(20px);
    border-radius: 50%;
    background: linear-gradient(#0e11d4, #0b8f84, #d81d87);
    
    animation: loading 0.6s linear infinite;
}
@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}